$ct = #4c7cf4
$t = #ec3a4a
$red = #d9a209
$green = #9bae81

$generalPaddingX = 2rem
$generalPaddingY = 1.5rem

flsize($s, $m) {
	font-size $s
	line-height $s * $m
}

leftRight($name) {
	&.--left {
		grid-area $name + '1'
	}

	&.--right {
		grid-area $name + '2'
	}
}

leftRightArea($left = left, $right = right) {
	&.--left {
		grid-area $left
	}

	&.--right {
		grid-area $right
	}
}

area($name) {
	.{$name} {
		leftRight($name)
		{block}
	}
}

center() {
	display flex
	align-items center
	justify-content center
}

teamBackground($alpha = 1) {
	&.--ct {
		background ($ct)
	}

	&.--t {
		background ($t)
	}
}

teamColors() {
	&.--ct {
		color $ct
	}

	&.--t {
		color lighten($t, 25%)
	}
}

animationSeconds(seconds, duration = 1) {
	return seconds / duration * 100%
}
